# Wails bin directory
build/bin
# Wails Windows NSIS support files
build/windows/installer/wails_tools.nsh
build/windows/installer/tmp/

# AI 工作中间产物
.workwork/
.v2c/

# IDEs
.idea
.vscode

# The black hole is...
node_modules
